<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="EmailUsername" value="minhkhoilenhat04@gmail.com" />
		<add key="EmailPassword" value="msfi tdvq dyru czdg" />
		<add key="SmtpServer" value="smtp.gmail.com" />
		<add key="SmtpPort" value="587" />
		<add key="EnableSsl" value="true" />
		<add key="SenderName" value="Vehicle Inspection System" />
		<add key="ExpirationCheckIntervalMinutes" value="60"/>
		<add key="InspectionExpirationHours" value="24"/>
	</appSettings>
</configuration>
